<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        div a{position: relative;left:40%}
    </style>
</head>
<body>
    <div>
        <img src="image/404.png">
    </div>
    <div>
        <a href="/login">
            <img src="image/back.png" >
        </a>
    </div>
</body>
</html>