<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.Jcrop.min.css" type="text/css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.Jcrop.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            var jcrop_api,boundx,boundy, $preview = $('#preview-pane'),$pcnt = $('#preview-pane .preview-container'),
                    $pimg = $('#preview-pane .preview-container img'),xsize = $pcnt.width(), ysize = $pcnt.height();
            $('#target').Jcrop({
                onChange: updatePreview,onSelect: updatePreview,aspectRatio: xsize / ysize
            },function(){
                var bounds = this.getBounds();boundx = bounds[0];boundy = bounds[1];jcrop_api = this;$preview.appendTo(jcrop_api.ui.holder);
            });
            function updatePreview(c){
                if (parseInt(c.w) > 0){
                    var rx = xsize / c.w;var ry = ysize / c.h;
                    $pimg.css({
                        width: Math.round(rx * boundx) + 'px',
                        height: Math.round(ry * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx * c.x) + 'px',
                        marginTop: '-' + Math.round(ry * c.y) + 'px'
                    });
                }
            };
            $("#cut").on("click",function(){
                var width = parseInt($(".jcrop-holder>div:first-child").css("width"));
                var height = parseInt($(".jcrop-holder>div:first-child").css("height"));
                var left = parseInt($(".jcrop-holder>div:first-child").css("left"));
                var top = parseInt($(".jcrop-holder>div:first-child").css("top"));
                $.ajax({
                    url:"/doCut",
                    data:{
                        "w":width,"h":height,"l":left,"t":top
                    },
                    success:function(result){
                        window.location="/";
                    }
                })
            });
        });
    </script>
    <style type="text/css">
        body{margin-top: 100px}
        .jcrop-holder #preview-pane {
            display: block;position: absolute;z-index: 2000;top: 10px;right: -280px;padding: 6px;
            border: 1px rgba(0,0,0,.4) solid;background-color: white;
            -moz-border-radius: 6px; -webkit-border-radius: 6px;border-radius: 100%;-webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        }
        #preview-pane .preview-container {
            width: 250px; height: 250px;overflow: hidden;border-radius: 100%;
        }
        button{ margin-top: 10px;}
        .hidden{display: none;}
    </style>
</head>
<body>

<% include header.ejs%>

<div class="container">
    <div class="row" id="show">
        <img src="<%=avatar%>" id="target" alt="[Jcrop Example]">
        <div id="preview-pane">
            <div class="preview-container">
                <img src="<%=avatar%>" class="jcrop-preview" alt="Preview">
            </div>
        </div>
        <button class="btn btn-lg btn-success" id="cut">剪切</button>
    </div>
</div>

<% include footer.ejs%>
</body>
</html>