<!--这个页面是共享的底标,所有页面都要引入这个页面-->
<div class="container">
    <footer style="position:fixed;bottom:0; width: 100%">
        <p style="text-align: center;">&copy; 2016 Company, Inc.</p>
    </footer>

</div>
